body {
    margin: 0;
}

header div {
    display: inline-block;
    width: 40%;
}

nav ul {
    padding-left: 0px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 1em;
}

main {
    width: 70%;
    border: 2px red;
    border-style: dashed;
    padding: 1em 2em;
    background-color: #ff000040;
    margin: 2em auto;
}
main section {
    width: 40%;
    display: inline-block
}
section div {
    margin: 0 2em;
}
header, footer {
    background-color: black;
    color: white;
    padding: 1em;
}