body {
    margin: 0;
}
nav ul {
    padding-left: 0px;
}
nav ul li {
    list-style: none;
}

main {
    width: 70%;
    border: 2px red;
    border-style: dashed;
    padding: 1em 2em;
    background-color: #ff000040;
    margin: 2em auto;
}
header, footer {
    background-color: black;
    color: white;
    padding: 1em;
}